.languagePicker {
    word-break: break-word;
    background: #dbdbdb;
    border-radius: 0.3125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: fit-content;
    padding: 0.25rem;
    background-clip: content-box;
    font-weight: 100;
}

.languagePicker:hover {
    box-shadow:
        0rem 0.5rem 1rem rgba(0, 0, 0, 0.14),
        0rem 0rem 0.125rem rgba(0, 0, 0, 0.12);
    outline: 0.125rem solid rgba(115, 118, 225, 1);
}